<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>

    <body>

      <h1>Html Practice Thameyleaf</h1>

      <p>Hello world!</p>
      <ul>
        <li>List can be created using ul element that contains li elements</li>
        <li>Ordered lists are done with ol elements that contains li elements</li>
      </ul>

      <h2>Some Useful HTML-elements</h2>

      <table>
        <tr>
          <td colspan=2>Element purpose</td>
        </tr>
        <tr>
          <td>table</td>
          <td>Creates a table</td>
        </tr>
        <tr>
          <td>tr</td>
          <td>Creates a row wihin table</td>
        </tr>
        <tr>
          <td>td</td>
          <td>Creates a cell within row</td>
        </tr>
      </table>

    </body>
</html>
